.main {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid white; */
    display: flex;
    gap: 30px;
}

.left,
.right {
    /* border: solid 1px yellow; */
    box-shadow: #1f1f1f33 0px 8px 24px;
    width: 100%;
}

.heading {
    background-color: #97D2EC;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left>div {
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #97D2EC;
}

.left button {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #1b265a;
    color: #97D2EC;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 550;
}

#show {
    margin: 20px;
    padding: 20px;
    height: 150px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #97D2EC;
}

.image_div {
    width: 200px;
    margin: auto;
}

.image_div>img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #97D2EC;
}

textarea {
    border-radius: 5px;
    border: 1px solid #97D2EC;
}